.App {
  text-align: center;
  color: indianred;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  margin: auto; 
}

#HTMLInserted 
{
  border: 8px dotted lightcoral;
  /* width:800px; */
  width:100%;
  height:300px;
  background: lightgrey;
  font-family: 'courier';
  font-size: 18px;
  max-width: 100%;
}

#result {
  border: 8px dotted  lightcoral;
  /* width:800px; */
  width: 100%;
  height:300px;
  background: lightgrey;
  max-width: 100%;
}

#copyStyle {
  background-color: yellow;
  font-family: 'courier';
}

#copyStyleDiv {
  font-size: 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

