.App {
  text-align: center;
  color: indianred;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  margin: auto; 
}

#HTMLInserted 
{
  border: 10px dotted lightcoral;
  width:800px;
  height:500px;
  background: lightgrey;
}

#result {
  border: 10px dotted  lightcoral;
  width:800px;
  height:500px;
  background: lightgrey;
}

#copyStyle {
  background-color: yellow;
  font-family: 'courier';
}

#copyStyleDiv {
  font-size: 26px;
}

/* #container {
  width:800px;
  height:600px;
  border:1px solid grey;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

